<div style="text-align: center; margin-top: 50px;">
  <h1>你想對誰說幹話？</h1>
</div>

<div style="padding: 20px 300px;">  
  <div class="card-deck">
    <div class="card">
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg" class="card-img-top" alt="engineer">      
    </div>
    <div class="card">
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg" class="card-img-top" alt="designer">      
    </div>
    <div class="card">
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg" class="card-img-top" alt="entrepreneur">      
    </div>
  </div>

  <form action="/" method="post" style="padding-top: 20px;" class="needs-validation">
    <div style="display: flex; justify-content:space-around;">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="target" id="engineer" value="engineer" required>
        <label class="form-check-label" for="engineer">
          工程師
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="target" id="designer" value="designer" required>
        <label class="form-check-label" for="designer">
          設計師
        </label>
      </div>
      <div class="form-check disabled">
        <input class="form-check-input" type="radio" name="target" id="entrepreneur" value="entrepreneur" required>
        <label class="form-check-label" for="entrepreneur">
          創業家
        </label>
      </div>
    </div>
    
    <div class="col-sm-10" style="display: flex; margin: 50px 100px; text-align:center">
      <div style="width: 150px;"><button type="submit" class="btn btn-primary" id="submit">產生幹話</button></div>
      <div class="input-group">
        <textarea class="form-control" aria-label="With textarea">{{ trash }}</textarea>
      </div>
    </div>
  </form>  
</div>